@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Satisfy&display=swap');
body{
	background-color:rgb(205, 241, 205);
	font-family: 'Rampart One', cursive;
	font-family: 'Satisfy', cursive;
	/*font-family: Arial, Helvetica, sans-serif;*/
	margin: 0;
	width: 100%;

}
/*Comentário no CSS*/
h1{
	font-family:'Rampart One', cursive;
	font-family: 'Satisfy', cursive;
	font: size 500px;
	color:white;
	/*padding-top: 10%;*/
	text-shadow:green 2px 2px;

}
header{
	display:block;
	background-color:darkseagreen;
	height: 400px;
	text-align:center;
	background-image:url(../img/chapadasite.jpg);
	/*background-image:url(../img/florchapada.jpg);*/
	background-position: center;
	background-repeat: no-repeat;
	/*background-size: cover;*//*cobriu minha imagem*/
	/*background-attachment: fixed;*/ /*quando rola a página a imagem fica parada*/

	/*explorar display flex, flex box, grid, */
}

.menu-principal{
	display: block;
	width:100%;
	/*background-color:darkgreen;*/
	height: 50px;
}

#quemsomos{
	display:block;
	height: 200px;
	background-color: darkkhaki;
}

#acomodacoes{
	display:block;
	height: 300px;
	background-color:darkseagreen;
}

#clubebicho{
	display:block;
	height: 200px;
	background-color:darkkhaki;
}
#contato{
	display:block;
	height: 200px;
	background-color:darkseagreen;
}

h2{
	padding-top: 18px;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}


nav ul{
	display:inline-flex;
}
nav ul li{
	display: block;
	padding: 5px;

}

nav ul li a{
	display: block;
	background-color:lightgray;
	padding: 10px;
	text-decoration: none;

}

nav ul li a:link, a:visited{
	/*color:cornsilk;*/
	color:blue;

}
nav ul li a:hover{
	color:black;
	background-color:ghostwhite;

}

footer{
	padding-top: 100px;
	text-align: center;
	height: 200px;
	background-color:lightgoldenrodyellow;


}

